<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <span class="h1" class="navbar-brand mb-0">Open Vault</span>
  <!-- USERNAME FROM DB ? -->
  <a href="#">Logout</a>
</nav>
<br>
<!-- Body -->
<div class="container">
	<div class="row">
		<div class="col-4">
			<h3>Current Lend Outs:</h3>
		</div>
		<div class="col">
		</div>
		<div class="col-3">
			<!-- Button add category -->
			<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addCategoryModal">Add Category
			</button>
			<!-- Button add item -->
			<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addItemModal">Add to Vault
			</button>
		</div>
	</div>
	<br>
	<!-- LENT OUT TRUE FROM DB -->
	<div class="row">
		<div class="card" style="width: 70rem;">
			<ul class="list-group list-group-flush">
				{{#each Item}}
					{{#if this.lent_out}}
					<li class="list-group-item">
						<div class="row">
							<div class="col-3">
								<p>{{this.name}}</p>
							</div>
							<div class="col">
								<p>{{this.lendee}}</p>
							</div>
							<div class="col-2">
								<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#returnItemModal">Return Item
				    			</button>
							</div>
						</div>
					</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
<!-- ========================================================== -->
	<hr id="lineBreak">
<!-- ========================================================== -->
	<div class="row">
		<div class="col-4">
			<h3>Lend an Item:</h3>
		</div>
	</div>
	{{#each Category}}
	<a data-toggle="collapse" data-target="{{this.id}}" href="{{this.id}}">
							<!-- ^^^ change target and href -->
	  	<h5>{{this.name}}</h5>
	</a>
	<div class="collapse" id="{{this.id}}">
						<!-- ^^^ change id -->
		<!-- list each item in the category -->
		<div class="card" style="width: 70rem;">
		  <ul class="list-group list-group-flush">

		  {{#each this.Item}}

		  	{{#unless this.Item.lent_out}}
		    <li class="list-group-item">
		    	<div class="row">
			    	<div class="col-3">
			    		<p>{{this.Item.name}}</p>
			    	</div>
			    	<div class="col">
			    		<p>{{this.Item.description}}</p>
			    	</div>
			    	<div class="col-2">
				    	<button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#lendItemModal">Lend Item
				    	</button>
				    </div>
				</div>
		    </li>
		    {{/unless}}
		  {{/each}}
		  </ul>
		</div>
	{{/each}}
	</div>
	

</div>


<!-- Modal ADD CATEGORY-->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCategoryModalHeading">Add a Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<!-- item input -->
      	<form action="/api/categories" method="POST" id="newCategoryForm">
			<p>Enter the name of the category:</p>
			<input type="text" name="newCategoryName" id="newCategoryName" placeholder=" Category Name..." required>
			<br><hr>
			<button id="addCategory" type="submit" class="btn btn-primary">Submit</button>
		</form> 
      </div>
    </div>
  </div>
</div>

<!-- Modal ADD ITEM-->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addItemModalHeading">Add an Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<!-- item input -->
      	<form action="/add" method="POST" id="newItemForm">
      		<p>Please select a category:</p>
			<select id="selectCategory" required>
				<option value="" disabled>Categories</option>

				{{#each Category}}
			  	<option value="{{this.id}}">{{this.name}}</option>
			  
			  	{{/each}}
			</select>
			<br><br>
			<!--  -->
			<p>Enter the name of the item:</p>
			<input type="text" name="newItemName" id="newItemName" placeholder=" Item Name..." required>
			<br><br>
			<!--  -->
			<p>Enter a description:</p>
			<textarea name="newItemDescribe" id="newItemDescribe" height="2em" width="2em"></textarea>
			<br><hr>
			<button id="addItem" type="submit" class="btn btn-primary">Submit</button>
		</form> 
      </div>
    </div>
  </div>
</div>

<!-- Modal LEND ITEM-->
<div class="modal fade" id="lendItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lendItemModalHeading">Lend an Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<!-- item input -->
      	<form action="/lend" method="POST" id="lendItemForm">
      		<input name="hiddenLendCategory" value="{{this.name}}">
      		<input name="hiddenLendItem" value="{{this.Item.name}}">
      		<p>Enter the due date:<p>
      		<input type="text" name="dueDate" id="dueDate" placeholder=" Due Date...">
			<p>Name of the person you are lending to:</p>
			<input type="text" name="newLendee" id="newLendee" placeholder=" Name of Lendee..." required>
			<p>Condition of the item:</p>
			<textarea name="itemCondition" id="itemCondition" placeholder=" Item Condition..."></textarea>
			<br><hr>
			<button id="lendItem" type="submit" class="btn btn-primary">Submit</button>
		</form> 
      </div>
    </div>
  </div>
</div>
